* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: 'Hanken Grotesk', sans-serif;    
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 10px 10px 30px 1px#d7e3f5;
}

.card {
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column;
    padding: 30px 35px;
}

.results-card {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%)); 
    color: #fff;
    text-align: center;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.results-card h2 {
    color: hsl(241, 100%, 89%);
}

.card h2 {
    font-size: 20px;
    font-weight: 700;
}

.card h1 {
    font-size: 26px;
    font-weight: 700;
}

.final-score-circle {
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px auto;
}

.final-score {
    font-size: 56px;
    font-weight: 800;
}

.out-of {
    font-size: 14px;
    color: hsl(241, 100%, 89%);
}

.description {
    font-size: 14px;
    color: hsl(241, 100%, 89%);
    margin-top: 12px;
    width: 200px;
}

.table {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 10px;
}

.category {
    height: 20px;
    font-weight: 700;
    font-size: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.logo-title {
    width: 90px;
    display: flex;
}

.title {
    margin-left: 10px;
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);

}   

.memory {
    background-color: hsla(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
}

.verbal {
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
}

.visual {
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
}

.score {
    color: hsl(241, 18%, 52%);
}

span {
    font-weight: 800;
    color: hsl(224, 30%, 27%);
}

button {
    background: hsl(224, 30%, 27%);
    color: #fff;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 60px;
    padding: 14px 0;
    display: block;
    width: 100%;
}

a {
    border: 1px solid red;
    /* display: flex;
    justify-content: center; */
    color: #fff;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
    background-color: hsl(224, 30%, 39%);
}

@media (max-width: 530px) {
    body {
        overflow: auto;
    }
    .container {
        height: 100vh;
        flex-direction: column;
        align-items: center;
        box-shadow: none;
        border-radius: 0;
        /* width: 100%; */
    }
    .card {
        width: 85%;
    }
    .results-card {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 85%;
    }
    .description {
        min-width: 260px;
    }
    button {
        font-size: 18px;
    }
}
